<div class="flex items-center justify-center mx-2">
  <div
    class="border mt-10 mb-6 py-3 px-4 bg-slate-900 border-slate-800 rounded-lg w-full max-w-xs"
  >
    <h2 class="text-xl text-center">Login</h2>
    <hr class="border-slate-800 mt-3 mb-2" />
    <div class="bg-red-500/50 p-2 rounded-md" *ngIf="error">{{ error }}</div>
    <form action="" (ngSubmit)="sendLogin()">
      <label class="" for="">Email:</label>
      <input
        [(ngModel)]="loginForm.userName"
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg"
        name="userName"
        type="text"
      />

      <label class="" for="">Password</label>
      <input
        [(ngModel)]="loginForm.password"
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg"
        name="password"
        type="password"
      />

      <div
        class="mt-4 mb-2 w-full flex justify-center"
        *ngIf="loginService.loading"
      >
        <app-loader></app-loader>
      </div>
      <button
        class="mt-4 px-4 py-2 bg-blue-800 rounded-lg mx-auto"
        *ngIf="!loginService.loading"
        type="submit"
      >
        Entrar
      </button>
    </form>
  </div>
</div>
