@media (min-width: 768px) {
  .border-bottom {
    @apply pr-1;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  .border-bottom::after {
    @apply bg-slate-500 rounded-full;
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    margin: 0 auto;
    width: 0;
    left: 0;
    height: 2px;
    transition: all 0.2s ease-in-out;
  }
  .border-bottom:hover::after {
    width: 100%;
  }
}
