<header
  id="presentation"
  class="rounded-lg h-96 px-2 shadow-md mb-4 flex items-center relative mx-2 sm:mx-6"
>
  <!-- <button
    class="absolute top-2 right-2 rounded-lg shadow-lg text-white bg-green-800 px-2 py-1 text-lg"
  >
    <i class="bx bxs-edit"></i>
  </button> -->
  <div class="flex w-full flex-col items-center justify-center">
    <h1 class="text-white text-3xl mb-1 font-semibold text-center">
      Hola soy
      <span class="underline underline-offset-4 decoration-dashed">Leonel</span
      >, gusto en conocerte.
    </h1>
    <p class="text-white text-center">
      Soy un desarrollador y programador de aplicaciones web full stack.
    </p>
  </div>
</header>
