<div class="flex w-full items-center justify-center">
  <div
    class="border mt-10 mb-6 py-3 px-4 bg-slate-900 border-slate-800 rounded-lg w-full max-w-xs"
  >
    <h2 class="text-xl text-center">Login</h2>
    <hr class="border-slate-800 mt-3 mb-2" />
    <form action="">
      <label class="" for="">Email:</label>
      <input
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg"
        type="text"
      />

      <label class="" for="">Password</label>
      <input
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg"
        type="text"
      />

      <button
        class="mt-4 px-4 py-2 bg-blue-800 rounded-lg mx-auto"
        type="submit"
      >
        Entrar
      </button>
    </form>
  </div>
</div>
