<div class="flex items-center justify-center mx-2">
  <div
    class="border mt-10 mb-6 py-3 px-4 bg-slate-900 border-slate-800 rounded-lg w-full max-w-sm"
  >
    <h2 class="text-xl text-center">Añadir Projecto</h2>
    <hr class="border-slate-800 mt-3 mb-2" />
    <form action="" (ngSubmit)="addProject()">
      <label class="asd" for="">Nombre:</label>
      <input
        [(ngModel)]="project.name"
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg mb-2"
        type="text"
        name="name"
      />

      <label class="" for="">Imagen Url:</label>
      <input
        [(ngModel)]="project.imgUrl"
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg mb-2"
        type="text"
        name="imgUrl"
      />

      <label class="" for="">Descripcion:</label>
      <textarea
        [(ngModel)]="project.description"
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg mb-2"
        type="text"
        name="description"
        rows="4"
      ></textarea>

      <label class="" for="">Link Github:</label>
      <input
        [(ngModel)]="project.linkGithub"
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg mb-2"
        type="text"
        name="linkGithub"
      />

      <label class="" for="">Link a Proyecto:</label>
      <input
        [(ngModel)]="project.linkProject"
        class="block w-full bg-slate-800 text-white px-2 py-2 rounded-lg mb-2"
        type="text"
        name="linkProject"
      />

      <label class="">Teconologias:</label>
      <form class="w-full flex" (submit)="addTecnologia()">
        <input
          class="bg-slate-800 text-white px-2 py-2 rounded-lg flex-1 mr-2"
          type="text"
          [(ngModel)]="tecnologia.name"
          name="tecnologia"
        />
        <button class="px-4 py-2 bg-blue-800 rounded-lg mx-auto">Añadir</button>
      </form>

      <p class="mb-1">
        <span
          *ngFor="let tecnologia of project.tecnologias; index as i"
          class="cursor-pointer"
          (click)="deleteTecnologia(i)"
        >
          <i
            class="bx bx-check-circle text-yellow-500 align-middle text-xl"
          ></i>
          {{ tecnologia }}
        </span>
      </p>

      <button
        class="mt-4 px-4 py-2 bg-blue-800 rounded-lg mx-auto"
        type="submit"
      >
        Añadir Proyecto
      </button>
    </form>
  </div>
</div>
