<section
  id="skills"
  class="rounded-lg bg-slate-900 border border-slate-800 shadow-lg pt-4 mb-4 mx-2 sm:mx-6 relative"
>
  <h2 class="font-semibold text-2xl pt-2 pb-3 w-full text-center">
    Skills y Tecnologías
  </h2>
  <!-- ------------------------ -->
  <!--        lenguajes        -->
  <!-- ------------------------ -->

  <div
    class="items-center flex flex-col bg-blue-900 w-full rounded-b-lg shadow-lg mt-2 mx-auto p-4 pb-6 text-white"
  >
    <h3 class="text-xl font-semibold text-center mb-5">Lenguajes</h3>

    <div class="flex gap-5 flex-wrap justify-center">
      <!-- mini card redonda con las skills-->
      <div
        class="span-hide-show w-20 h-20 p-1 rounded-full bg-slate-900 relative flex items-center justify-center"
        *ngFor="let skill of skills"
      >
        <!-- imagen de skill -->
        <img
          class="drop-shadow-lg overflow-hidden rounded-full"
          [src]="skill.imgUrl"
          alt=""
        />
        <!-- span con nombre de skill -->
        <span
          class="absolute text-white min-w-full px-3 bg-slate-900 rounded-lg text-center"
          >{{ skill.name }}</span
        >
        <!-- boton de delete -->
        <button
          name="Eliminar"
          class="absolute bg-red-600 -top-1 -right-1 w-7 h-7 text-white rounded-full flex items-center justify-center"
        >
          <i class="bx bxs-trash"></i>
        </button>

        <!-- boton de edit -->
        <button
          name="Editar"
          class="absolute bg-green-600 -top-1 -left-1 w-7 h-7 text-white rounded-full flex items-center justify-center"
        >
          <i class="bx bxs-edit"></i>
        </button>
      </div>

      <!-- boton para añadir mas skills -->
      <a
        name="Añadir skill"
        routerLink="add/skill/lenguaje"
        class="w-20 h-20 p-1 rounded-full bg-slate-800 relative flex items-center justify-center"
      >
        <div class="absolute block w-14 h-2 bg-[#00D01A] rounded-lg"></div>
        <div class="absolute block w-2 h-14 bg-[#00D01A] rounded-lg"></div>
      </a>
    </div>

    <!-- ------------------------ -->
    <!--        frameworks        -->
    <!-- ------------------------ -->

    <h3 class="text-xl font-semibold text-center my-5">Frameworks</h3>

    <div class="flex gap-5 flex-wrap justify-center">
      <!-- mini card redonda con las Frameworks-->
      <div
        class="span-hide-show w-20 h-20 p-1 rounded-full bg-slate-900 relative flex items-center justify-center"
        *ngFor="let framework of frameworks"
      >
        <!-- imagen de framework -->
        <img
          class="drop-shadow-lg overflow-hidden rounded-full"
          [src]="framework.imgUrl"
          alt=""
        />
        <!-- span con nombre de framework -->
        <span
          class="absolute text-white min-w-full px-3 bg-slate-900 rounded-lg text-center"
          >{{ framework.name }}</span
        >

        <!-- boton de delete -->
        <button
          name="Eliminar"
          class="absolute bg-red-600 -top-1 -right-1 w-7 h-7 text-white rounded-full flex items-center justify-center"
        >
          <i class="bx bxs-trash"></i>
        </button>

        <!-- boton de edit -->
        <button
          name="Editar"
          class="absolute bg-green-600 -top-1 -left-1 w-7 h-7 text-white rounded-full flex items-center justify-center"
        >
          <i class="bx bxs-edit"></i>
        </button>
      </div>

      <!-- boton para añadir mas frameworks -->
      <a
        name="Añadir framework"
        routerLink="add/skill/framework"
        class="w-20 h-20 p-1 rounded-full bg-slate-800 relative flex items-center justify-center"
      >
        <div class="absolute block w-14 h-2 bg-[#00D01A] rounded-lg"></div>
        <div class="absolute block w-2 h-14 bg-[#00D01A] rounded-lg"></div>
      </a>
    </div>
  </div>
</section>
